<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    
    body{
        font-family: Arial;   
        text-align: center;
    }

    nav ul{
        padding: 0%;  
        list-style: none;
        display: flex;
        background: pink;
        justify-content: center;
    }

    nav a{
        padding: 8px;
        text-decoration: none;
        background-color: skyblue;
        display: block
    }


    </style>                                    
</head>
<body>
     
    <header><img src="images/logo.png"></header>

    <nav>
        <ul>
            <li>
                <a href="~/home/index">Pagina principal</a>
            </li>
            <li>
                <a href="~/home/formulario">Formulario inscrepcion</a>
            </li>
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        Prueba
    </footer>

</body>
</html>